@use '../../mixins.scss' as *;
@use '../../variables.scss' as *;


.stock-input {
    height: 60px;
    width: 100%;
    border-radius: 10px;
    background-color: #f0f8ff; /* Light blue color */
    border-color: #ccc; /* Optional border color */
    padding: 10px;
  }
  
  .stock-search-button {
    // width: 100%;
    height: 60px;
    border-radius: 10px;
    background-color: $button-color-dark;
    border: none; 
    color: $button-text-color;
  }
  
  .stock-search-button:hover {
    background-color: $button-color-hover-dark; /* Darker blue on hover */
    color: $button-text-color;
  }
  