@use '../../mixins' as *;

.header {
  padding: 1rem;

  @include respond-to(md) {
    padding: 2rem;
  }

  .name {
    font-size: 2rem;

    @include respond-to(sm) {
      font-size: 2.5rem;
    }
  }
}
