.macro-panel {
  .macro-box {
    background-color: rgba(255, 255, 255, 0.05); 
    border-radius: 10px;
    padding: 0.75rem; // reduced padding

    .macro-label {
      font-size: 0.7rem; // smaller label
      color: #a1a1aa;
      margin-bottom: 0.2rem;
    }

    .macro-value {
      font-size: 1rem; // reduced from 1.2rem
      font-weight: 600;
      color: #fff;
    }

    .macro-change {
      font-size: 0.75rem; // reduced from 0.875rem
      font-weight: 500;
    }

    .text-success {
      color: #22c55e;
    }

    .text-danger {
      color: #ef4444;
    }

    .text-warning {
      color: #e1e1e1;
    }
  }
}
